{% extends './base.html' %}

{% load extras_blog %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">

                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        {% if post.image %}
                        <figure class='image mb-3 is-16by9'>
                            <img src="{{ post.image.url }}">
                        </figure>
                        {% endif %}
                        <p class="is-pulled-right" style="margin-top: 10px;"  >Created by {{ post.created_by }} </p> 
                        <div class="content is-medium">
                            <h1 class="title title-h1-text title is-size-1-desktop is-size-2-tablet is-size-4-mobile " style="margin-top: 70px;">{{ post.title }}</h1>

                            
                            <p>intro : {{ post.intro }}</p>

                            <hr>
                            <p>{{ post.body|convert_markdown|safe }}</p>
                            <br>
                            <p>
                                <small class="is-pulled-right" >Category: 
                                    <a  href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a>
                                </small>
                            </p>

                            </p>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}