{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="description"
        content="Two Coders&#39; Blogs is a blog where two passionate programmers share their insights, tips, and tricks on coding, testing, and various other topics. Whether you&#39;re looking for life hacks, book recommendations, music suggestions, or just some fun and interesting stories, this blog has something for you. Join us as we explore the world of programming and beyond.">

    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <meta name="author" content="Author Name">
    <meta property="og:title" content="{{post.title}}">
    <meta property="og:description" content="{{ post.intro }}">

    <meta http-equiv="X-Content-Type-Options" content="nosniff">

    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.intro }}">

    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> two coders' blogs | {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="{% static 'images/icon.jpg' %}" />
    <link rel="preload" rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link rel="preload" rel="stylesheet" href="{% static 'styles.css' %}" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">





</head>

<body>

    <nav class="navbar is-gray-dark">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <strong class="is-size-5 has-text-weight-semibold ">TWCS - BLOGS</strong>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class=" navbar-item">
                        <form method="get" action="{% url 'search' %}">
                            <div class="control has-icons-left">
                                <input name="query" class="input" type="text" placeholder="Search">
                                <span class="icon is-left">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                    <a href="/" class="navbar-item is-size-5 has-text-weight-semibold">
                        Home
                    </a>
                    <a href="{% url 'about' %}" class="navbar-item  is-size-5 has-text-weight-semibold">
                        About
                    </a>
                    <a href="{% url 'resources' %}" class="navbar-item  is-size-5 has-text-weight-semibold">
                        Resources
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <section class="section">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </section>


    <footer class="footer">
        <div class="content has-text-centered">
            <p>




            </p>
        </div>
    </footer>


    <script src="{% static 'script.js' %}"></script>

</body>

</html>