<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>

<body>
    <h1>Privacy Policy</h1>

    <p><strong>Last updated: 20 August 2023</strong></p>

    <h2>1. Introduction</h2>
    <p>Welcome to our Website. We are committed to protecting your personal information and your right to privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your personal information. By using our website/service, you consent to the practices described in this Privacy Policy.</p>

    <h2>2. Information We Collect</h2>
    <ul>
        <li><strong>Personal Information:</strong> We may collect certain personally identifiable information, such as your name, email address, and contact details, when you interact with our website/service.</li>
        <li><strong>Usage Data:</strong> We may collect information about how you use our website/service, such as your browsing history, pages visited, and actions taken.</li>
        <li><strong>Cookies and Tracking Technologies:</strong> We use cookies and similar tracking technologies to track your activity on our website/service and hold certain information.</li>
    </ul>

    <h2>3. How We Use Your Information</h2>
    <p>We may use your information for various purposes, including:</p>
    <ul>
        <li>Provide, operate, and maintain our website/service.</li>
        <li>Respond to your questions, and requests.</li>
        <li>Send you information about updates.</li>
    </ul>



    <h2>8. Contact Us</h2>
    <p>If you have any questions or concerns about this Privacy Policy, please <a href="valentin@two-coders.site">contact us at valentin@two-coders.site</a>.</p>



</body>

</html>
